body {
	margin:0;
}
.vetur {
	display:none;
}
.haust {
	display:none;
}
.vor {
	background: linear-gradient(to bottom left, limegreen , lightblue ); /* Standard syntax (must be last) */
	position: fixed;
	width: 100%;
	height: 100%;
  	margin: 0;
  	padding: 0;
  
	display: flex; 
	justify-content: center;
	align-items: center;
	align-content: center;
}
.vor h1 {
	font-size: 5em;
	color: white;
}
.sumar {
	display:none;
}

